html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#sleep {
    width: 82px;
    height: 132px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    display: block;
    position: fixed;
    overflow: visible;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

#sleep * {
    display: block;
    position: absolute;
    image-rendering: optimizeSpeed;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    animation: sine 1s ease-in-out infinite;
    animation-direction: alternate;
}

#s1 {
    width: 68px;
    height: 68px;
    left: 0px;
    top: 64px;
    animation: none;
}

#s2, #s3, #s4 {
    width: 14px;
    height: 20px;
}

#s2 {
    left: 54px;
    top: 48px;
}

#s3 {
    left: 62px;
    top: 24px;
    animation-delay: 0.5s;
}

#s4 {
    left: 68px;
    top: 0px;
    animation-delay: 1s;
}

@keyframes sine {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(14px);
    }
}
